name: Docker Build and Push

on:
  workflow_run:
    workflows: ["Quality Assurance"]
    types:
      - completed
  push:
    branches: [ main ]
    paths:
        - Dockerfile
        - .github/workflows/docker_build.yml
        - requirements.txt
        - app/**
  pull_request:
    branches: [ main ]
    paths-ignore:
        - Dockerfile
        - .github/workflows/docker_build.yml
        - requirements.txt
        - app/**

jobs:
  docker:
    if : ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      models: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
    
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt

      - name: Log into GitHub Container Registry
        if: github.ref == 'refs/heads/main'
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        if: github.ref == 'refs/heads/main'
        run: |
          docker build \
            -t ghcr.io/${{ github.repository }}:${{ github.sha }} \
            -t ghcr.io/${{ github.repository }}:latest \
            .

      - name: Push Docker image
        if: github.ref == 'refs/heads/main'
        run: |
          docker push ghcr.io/${{ github.repository }}:${{ github.sha }}
          docker push ghcr.io/${{ github.repository }}:latest